.Mental {
  padding: 50px;
  background-color: #551a8b;
  color: #FFFF;
  width: 100px;
  height: 25px;
}
.Health {
  padding: 50px;
  background-color: #551a8b;
  color: #FFFF;
  width: 100px;
  height: 25px;
}
